# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.JumpingToTheSkies.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Desktop\Projects\Repo-MicEmond2\JumpingToTheSkies\JumpingToTheSkies\.idea\.idea.JumpingToTheSkies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
